server:
  port: 8080

spring:
  application:
    name: miniEMS

  datasource:
    url: jdbc:postgresql://172.22.18.29:5432/mini_ems
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: 172.22.18.29
      port: 6379
      password: MiniEms@123
