server:
  port: 8081

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: miniEMS

  # 数据库配置（PostgreSQL）
  datasource:
    url: jdbc:postgresql://172.22.18.29:5432/mini_ems
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  # Redis配置
  data:
    redis:
      host: 172.22.18.29
      port: 6379
      password: MiniEms@123

# MQTT配置
mqtt:
  broker:
    url: tcp://localhost:1883  # 如果是 mqtt 表示容器的名字
  client:
    id: miniEMS-${random.value}
  topic: ems/bms/telemetry

# InfluxDB时序数据库配置
influxdb:
  url: http://127.0.0.1:8086  # 如果是 influxdb 表示容器的名字
  token: ems-token
  org: ems-org
  bucket: ems

# Actuator健康检查端点配置
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

# 日志配置
logging:
  level:
    root: INFO
    com.sysbreak.ems: DEBUG
    org.springframework.integration: DEBUG
